.contact-section {
  padding: 60px 20px;
  background-color: #1f1f1f;
  color: white;
  text-align: center;
}

.contact-section a {
  color: rgb(28, 128, 227);
  text-decoration: none;
  font-weight: bold;
}

.contact-section a:hover {
  text-decoration: underline;
}

.about-section {
  background-color: #604d7e;
  color: #f1e6fa;
}

.contact-section {
  background-color: #624669;
  color: #f2f2f2;
}
