/* styles/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #111;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar h1 {
  color: cyan;
  font-size: 24px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: cyan;
}
